*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    align-items: center;
    background-color: lightblue;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    background-color: lightblue;
    border-radius: 15px;
    
    text-align: center;
    

}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    border: 5px solid rgb(243, 245, 247);
    background-color: lightblue;
    
}
.gallery img:hover {
    transform: scale(1.1); /* Increase the size on hover */
}



.gallery-heading h1 {
    font-size: 90px;
    color: #0d0d0d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 90px;
    background-color: lightblue;

    
}



